<html>
<head>
	<meta charset="UTF-8">
	<title>Page Title</title>
</head>
<body>

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Web project starting template...
      </h1>
      <h2 class="subtitle">
        Powered by Webpack &amp; Bulma
      </h2>
      <a href="https://webpack.js.org/">https://webpack.js.org/</a><br>
      <a href="http://bulma.io/">http://bulma.io/</a>
    </div>
  </div>
</section>

<section class="section">

	<div class="container">

		<div class="tile is-ancestor">
		  <div class="tile is-vertical is-8">
		    <div class="tile">
		      <div class="tile is-parent is-vertical">
		        <article class="tile is-child notification is-primary">
		          <p class="title">Bulma</p>
		          <p class="subtitle">A modern CSS framework based on Flexbox</p>
		        </article>
		        <article class="tile is-child notification is-warning">
		          <p class="title">...Title</p>
		          <p class="subtitle">Sub Title</p>
		        </article>
		      </div>
		      <div class="tile is-parent">
		        <article class="tile is-child notification is-info">
		          <!-- Content -->
		          <p class="title">Pages:</p>
		          <a href="index.html" class="button is-primary is-outlined">Home</a>
		          <a href="about.html" class="button is-primary">About</a>
		        </article>
		      </div>
		    </div>
		    <div class="tile is-parent">
		      <article class="tile is-child notification is-danger">
		        <p class="title">Webpack Powered</p>
		        <div class="content">
		          <!-- Content -->
		          <img src="../img/webpack.jpg" alt="">
		        </div>
		      </article>
		    </div>
		  </div>
		  <div class="tile is-parent">
		    <article class="tile is-child notification is-success">
		        <div class="content">
		          <!-- Content -->
		          <p class="title">...Title</p>
		          <p class="subtitle">Sub Title</p>
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore impedit, praesentium eveniet dolores, unde odit est omnis sint? Explicabo alias recusandae perspiciatis magni eveniet suscipit quasi cumque ut vitae blanditiis!</p>
		          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore impedit, praesentium eveniet dolores, unde odit est omnis sint? Explicabo alias recusandae perspiciatis magni eveniet suscipit quasi cumque ut vitae blanditiis!</p>
		        </div>
		    </article>
		  </div>
		</div>

	</div>
</section>
</body>
</html>